<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello List!</title>
    </head>

    <body>
        <h1>Hello List!</h1>

        <p th:each="item : ${list}">
            <span th:text="${item}">hello world!</span>
        </p>

        <h2>Add content to list</h2>

        <form th:action="@{/}" method="POST">
            <input type="text" name="content"/>
            <input type="submit" value="Add"/>
        </form>
    </body>
</html>
